{% load static %}

<!DOCTYPE HTML>
    <html>
        <head>
            <meta charset="UTF-8" />
            <title>Jogos Django 2</title>
            <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        </head>
        <body class="bg-secondary bg-opacity-25">
            <header class="text-center">
                <nav class="container mx-auto text-center border border-dark border-4 rounded-pill p-2 m-3">
                    <a class="btn btn-secondary text-dark fs-6 fw-bold rounded-pill" href="{% url 'index' %}">HOME</a>
                    <a class="btn btn-secondary text-dark fs-6 fw-bold text-dark rounded-pill" href="{% url 'perguntas' %}">Perguntas</a>
                    <a class="btn btn-secondary text-dark fs-6 fw-bold text-dark rounded-pill" href="{% url 'forca' %}">Forca</a>
                    
                    {% if user.is_authenticated %}
                    <a class="btn btn-secondary text-dark fs-6 fw-bold text-dark rounded-pill" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="btn btn-secondary text-dark fs-6 fw-bold text-dark rounded-pill" href="{% url 'cadastro' %}">Cadastro</a>
                    <a class="btn btn-secondary text-dark fs-6 fw-bold text-dark rounded-pill" href="{% url 'login' %}">Login</a>
                    {% endif %}
            
                </nav>
                <h2>{{ user.username }}</h2>
            </header>
            {% block content %}{% endblock %}

            <div class='container'>
            {% if ranking_pergunta %}
            <div class='container border rounded-3' style="width: 40%;display: inline-block;">
                <h5>Ranking Perguntas</h5>

                <table class="table table-sm table-striped table-hover">
                    <tr>
                        <th>Nome</th>
                        <th>Pontuação</th>
                    </tr>
                    {% for r in ranking_pergunta %}
                        <tr>
                            <th>{{ r.user }}</th>
                            <th>{{ r.pontos_pergunta }}</th>
                        </tr>    
                    {% endfor %}
                </table>
            </div>
            {% endif %}

            {% if ranking_forca %}
            <div class='container border rounded-3' style="width: 40%;display: inline-block;">
                <h5>Ranking Perguntas</h5>

                <table class="table table-sm table-striped table-hover">
                    <tr>
                        <th>Nome</th>
                        <th>Pontuação</th>
                    </tr>
                    {% for r in ranking_forca %}
                        <tr>
                            <th>{{ r.user }}</th>
                            <th>{{ r.pontos_forca }}</th>
                        </tr>    
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            </div>
        </body>
</html>