{% extends 'index.html' %}
{% block content %}

<div class="container mx-auto text-center  " style="width: 90%; height: 100%;">
    <div class="card text-center mx-auto bg-secondary" style="width: 80%;; height: 100%;">
        <h1 class="text-center">Jogo de Perguntas</h1>
        <br>
        <section>
            <div>
                {% for p in perguntas%}
                    <h4>{{ p.pergunta }}</h4>
                    
                    <form action="{% url 'perguntas' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ perguntas.number }}" name="pagina_atual">
                        <input type="hidden" value="{{ p.id }}" name="pid">
                        
                        <div class="col-4 mx-auto" style="width: 90%;">
                            <br> 
                            {% for a in p.lista_alternativas %} 
                                {% if confirmacao %}
                                    {% if a == p.resposta and p.resposta == resposta_cliente %}
                                        <button  class="btn btn-success m-1 mx-auto" style="width: 90%;" type="submit" >{{ a }}</button>
                                    {% else %}
                                        {% if a == resposta_cliente and a != p.resposta %}
                                        <button  class="btn btn-danger m-1 mx-auto" style="width: 90%;" type="submit" value="{{ a }}" name="resposta">{{ a }}</button>
                                        {% else %}
                                        <button disabled class="btn btn-light m-1 mx-auto" style="width: 90%;" type="submit" value="{{ a }}" name="resposta">{{ a }}</button>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                <button class="btn btn-light m-1 mx-auto" style="width: 90%;" type="submit" value="{{ a }}" name="resposta">{{ a }}</button>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </form>
                {% endfor %}
            </div>
        </section>
        <br>
        <div>
            {% if confirmacao %}
                {% if confirmacao == 'correto' %}
                    <p class="btn btn-success" >Resposta CORRETA</p>
                {% else %}
                    <p class="btn btn-danger" >Resposta ERRADO</p>
                {% endif %}    
                <br>
                {% if perguntas.has_next %}
                    <a class="btn btn-light" href="?page={{ perguntas.next_page_number}}">
                        Próxima pergunta
                    </a>
                {% endif %}
                    
            {% endif %}
        </div>
        <br>
        <div>
            {% if perguntas.has_previous %}
                <a href="?page={{ perguntas.previous_page_number}}">
                    {{perguntas.number|add:'-1'}}
                </a>
            {% endif %}
            {% if perguntas.has_next %}
                <a href="?page={{ perguntas.next_page_number}}">
                    {{perguntas.number|add:'+1'}}
                </a>
            {% endif %}
            <p> SUA PONTUAÇÂO é {{request.session.pontos}}</p>
        </div>
    </div>
</div>
{% endblock %}