{% extends 'index.html' %}
{% block content %}

<div class="container mx-auto text-center  " style="width: 90%; height: 100%;">
    <div class="card text-center mx-auto bg-secondary" style="width: 80%;; height: 100%;">
        <h1 class="text-center">Jogo de Perguntas</h1>
        <br>
        <section>
            <div>
                <h4>{{ pergunta }}</h4>
                    <form action="{% url 'perguntas' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ pergunta.id }}" name="pid">
                        <div class="col-4 mx-auto" style="width: 90%;">
                            <br> 
                            {% for a in pergunta.lista_alternativas %} 
                                {% if confirmacao %}
                                    {% if a == pergunta.resposta and pergunta.resposta == resposta_cliente %}
                                        <button  class="btn btn-success m-1 mx-auto" style="width: 90%;" type="submit" >{{ a }}</button>
                                    {% else %}
                                        {% if a == resposta_cliente and a != pergunta.resposta %}
                                            <button  class="btn btn-danger m-1 mx-auto" style="width: 90%;" type="submit" value="{{ a }}" name="resposta">{{ a }}</button>
                                        {% else %}
                                            {% if a == pergunta.resposta %}
                                                <button  class="btn btn-success m-1 mx-auto" style="width: 90%;" type="submit" value="{{ a }}" name="resposta">{{ a }}</button>
                                            {% else %}
                                                <button disabled class="btn btn-light m-1 mx-auto" style="width: 90%;" type="submit" value="{{ a }}" name="resposta">{{ a }}</button>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <button class="btn btn-light m-1 mx-auto" style="width: 90%;" type="submit" value="{{ a }}" name="resposta">{{ a }}</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </form>
                    <div>
                        {% if confirmacao %}
                            {% if confirmacao == 'correto' %}
                                <p class="btn btn-success" >Resposta CORRETA</p>
                            {% else %}
                                <p class="btn btn-danger" >Resposta ERRADO</p>
                            {% endif %}
                            <br>
                            <a class="btn btn-light" href="{% url 'perguntas' %}" >Proxima</a>
                        {% endif %}
                    </div>
                    
            </div>
        </section>
        <br>
        
        <br>
        <div>
            {% if user.is_authenticated %}
                <p> SUA PONTUAÇÂO é {{request.session.pontos}}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}